/* General */
.bg-image {
  background-image: url("/images/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.px-108 {
  padding-left: 108px;
  padding-right: 108px;
}

.h-100-vh {
  height: 100vh;
  /* max-height: 100%; */
}
.scrollable {
  height: 500px;
  overflow-y: auto;
}

.outline-none {
  outline: none;
}

.task-heading {
  background-color: #837c7c;
  color: #ebe310;
}

.bg-azure {
  background-color: azure;
}

.hide-redundant-content {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none !important;
}

.data-row:hover {
  background-color: lightcyan;
}

.custom-border-right {
  border-right: 1px solid #9d9b8b;
}

.custom-border {
  border: 1px solid #837c7c;
}

.position-sticky {
  position: sticky;
}
/* ---------------- Admin -------------------- */
/* index.php */
.add-account-link {
  padding: 6px 12px;
  border-radius: 4px;
  text-decoration: none;
  transition: all 0.2s linear;
}

.add-account-link {
  text-decoration: none !important;
}

/* ---------------- Manager ------------------ */

* {
  box-sizing: border-box;
}
body {
  width: 100%;
  overflow-x: hidden;
}
.box-search {
  border: 1px solid #c0c0c0;
  padding: 5px;
  width: 500px;
  border-radius: 5px;
}

.menu {
  list-style-type: none;
  margin: 10px;
  padding: 0px;
}
.menu a{
  font-size: 15px;
  padding: 15px 5px;
  padding-left: 20px;
}
.create-task {
  border-radius: 5px;
  border: 1px solid #ccc;
}
.add-task {
  width: 80%;
  margin-bottom: 30px;
  border-radius: 50px;
  border-color: #28a745;
  box-shadow: 1px 5px 10px rgb(61, 61, 61);
  display: flex;
  justify-content: center;
  align-items: center;
}
.fa-plus-circle {
}

.fas {
  color: #1b1b1b;
}
.fa-plus-circle {
  font-size: 30px;
  text-align: left;
  margin-right: 5px;
}

.all-task {
  height: 550px;
  border: 1px solid #c0c0c0;
  padding: 10px 10px;
  overflow-y: scroll;
  margin-right: 15px;
  margin-left: 15px;
  cursor: pointer;
}
/* .task-content{
} */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: cadetblue;
  border-radius: 2px;
}
.content {
  height: 100%;
}

.nav-link {
  color: rgb(0, 0, 0);
}
.tenNhiemVu{
  color:#1b1b1b;
  font-size: 18px;
  font-weight: bold;
}
.tenNhiemVu:hover{
  color: #008080;
  /* font-size: 20px; */
  /* font-weight: bold; */
}
.activee{
  background-color: #008080;
  color : #ffffff;
}




/* ---------------- Employee ----------------- */
/* File index.php employee folder*/
body {
  background-image: url(/images/background.jpg);
  background-repeat: no-repeat;
    background-size: cover;
}
.navbar-header__none {
  display: none;
}
.employee {
  margin: 10px 15px;
}
.task-search-input {
  width: inherit;
}

.scrollable-task {
  height: 500px;
  overflow-x: auto;
}

.e__task__heading {
  background-color: rgb(131,124,124);
  position: sticky;
  color: rgb(222,215,35);
}
.e__task__infomation {
  background-color: rgb(240,255,255);
}
.e__check-font-style{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.e__condition-style {
  padding: 5px 0px 0 15px;
}
.displayNone {
  display: none;
}
@media screen and (min-width: 992px) and (max-width: 1199px){
  .task-name__heading,
  .task-time__heading {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px){
  .employee-name,
  .task-name__heading,
  .task-time__heading {
    display: none;
  }
  .employee-heading {
    justify-content: space-between;
  }
}	

@media screen and (min-width: 576px) and (max-width: 767px){
  .task-description__heading,
  .task-time__heading {
    display: none;
  }
}
@media screen and (max-width: 576px){
  /* .navbar {
    padding: 0;
      position: absolute;
  } */
  .navbar-header {
    display: none;
  }
  .navbar-header__none {
    display: block;
    font-weight: bold;
  }
  .employee-name {
    display: none;
  }
  
  .task-description__heading,
  .task-time__heading {
    display: none;
  }
}

/* Employee */
/* file dayOff_form.php */
.task-search-input {
  width: inherit;
}
.scrollable-task {
  height: 500px;
  overflow-x: auto;
}

.e__dayOff-content {
  background-color: rgb(240,255,255);
}
@media screen and (min-width: 992px) and (max-width: 1199px){
  .task-name__heading,
  .task-time__heading {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px){
  .employee-name,
  .task-name__heading,
  .task-time__heading {
    display: none;
  }
  .employee-heading {
    justify-content: space-between;
  }
}	

@media screen and (min-width: 576px) and (max-width: 767px){
  .task-description__heading,
  .task-time__heading {
    display: none;
  }
}
@media screen and (max-width: 576px){
  /* .navbar {
    padding: 0;
      position: absolute;
  } */
  .navbar-header {
    display: none;
  }
  .navbar-header__none {
    display: block;
    font-weight: bold;
  }
  .employee-name {
    display: none;
  }
  
  .task-description__heading,
  .task-time__heading {
    display: none;
  }
}

/* employee */
/* dayOff_list.php */
.e__dayOff-heading-none {
  display: none;
}
.task-search-input {
  width: inherit;
}
.scrollable-dayOff {
  height: 450px;
  overflow-x: auto;
}
.e__dayOff__heading {
  background-color: rgb(131,124,124);
  position: sticky;
  color: rgb(222,215,35);
}
.e__dayOff-list-body {
  background-color: rgb(240,255,255);
}

@media screen and (min-width: 992px) and (max-width: 1199px){
  .dayOff-numDay__heading {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px){
  .dayOff-numDay__heading {
    display: none;
  }
}	

@media screen and (min-width: 576px) and (max-width: 767px){
  .e__dayOff-heading-none {
    display: block;
    font-size: bold;
  }
  .e__dayOff-heading {
    display: none;
  }
  .e__sumDayOff {
    display: none;
  }
  .dayOff-numDay__heading {
    display: none;
  }
}
@media screen and (max-width: 576px){
  .e__dayOff-heading-none {
    display: block;
    font-size: bold;
  }
  .e__dayOff-heading {
    display: none;
  }
  .e__sumDayOff {
    display: none;
  }
  .dayOff-reason__heading,
  .dayOff-numDay__heading {
    display: none;
  }
} 

/* employee */
/* employee_heading.php */

.navbar-header__none {
  display: none;
}
.employee {
  margin: 10px 15px;
}
.task-search-input {
  width: inherit;
}
.scrollable-task {
  height: 500px;
  overflow-x: auto;
}
.e__home-heading {
  display: none;
}
.e__task__heading {
  background-color: rgb(131,124,124);
  position: sticky;
  color: rgb(222,215,35);
}
.e__task__infomation {
  background-color: rgb(240,255,255);
}
.e__check-font-style{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.e__condition-style {
  padding: 5px 0px 0 15px;
}
.displayNone {
  display: none;
}
@media screen and (min-width: 992px) and (max-width: 1199px){
  .task-name__heading,
  .task-time__heading {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px){
  .employee-name,
  .task-name__heading,
  .task-time__heading {
    display: none;
  }
  .employee-heading {
    justify-content: space-between;
  }
}	

@media screen and (min-width: 576px) and (max-width: 767px){
  /* .navbar {
    padding: 0;
      position: absolute;
  } */
  .employee-name {
    display: none;
  }
  /* .e__home-heading {
    display: block;
  }
  .navbar-header {
    display: none;
  }
  .navbar-header__none {
    display: block;
  }
  .employee-name {
    display: none;
  } */
}
@media screen and (max-width: 576px){
  /* .navbar {
    padding: 0;
      position: absolute;
  } */
  .e__home-heading {
    display: block;
  }
  .navbar-header {
    display: none;
  }
  .navbar-header__none {
    display: block;
    font-weight: bold;
  }
  .employee-name {
    display: none;
  }
  
  .task-description__heading,
  .task-time__heading {
    display: none;
  }
}

/* employee */
/* dayOff_infomation.php */

.task-search-input {
  width: inherit;
}
.scrollable-task {
  height: 500px;
  overflow-x: auto;
}

.e__task__heading {
  background-color: rgb(131,124,124);
  position: sticky;
  color: rgb(222,215,35);
}
.e__task__infomation {
  background-color: rgb(240,255,255);
}
.task-content {
  background-color: rgb(240,255,255);
}
.e__dayOff-info-reason-none,
.e__dayOff-info-numDay-none {
  display: none;
}
@media screen and (min-width: 992px) and (max-width: 1199px){
  .e__dayOff-info-numDay-none {
    display: block;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px){
  .e__dayOff-info-numDay-none {
    display: block;
  }
}	

@media screen and (min-width: 576px) and (max-width: 767px){
  .e__dayOff-info-numDay-none {
    display: block;
  }
}
@media screen and (max-width: 576px){
  .e__dayOff-info-reason-none,
  .e__dayOff-info-numDay-none {
    display: block;
  }
} 

/* employee */
/* get_completed_task.php */

.navbar-header__none {
  display: none;
}
.employee {
  margin: 10px 15px;
}
.task-search-input {
  width: inherit;
}
.scrollable-task {
  height: 500px;
  overflow-x: auto;
}

.e__task__heading {
  background-color: rgb(131,124,124);
  position: sticky;
  color: rgb(222,215,35);
}
.e__task__infomation {
  background-color: rgb(240,255,255);
}
.e__check-font-style{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.e__condition-style {
  padding: 5px 0px 0 15px;
}
.displayNone {
  display: none;
}
@media screen and (min-width: 992px) and (max-width: 1199px){
  .task-name__heading,
  .task-time__heading {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px){
  .employee-name,
  .task-name__heading,
  .task-time__heading {
    display: none;
  }
  .employee-heading {
    justify-content: space-between;
  }
}	

/* @media screen and (min-width: 576px) and (max-width: 767px){
  .navbar {
    padding: 0;
      position: absolute;
  }
  .navbar-header {
    display: none;
  }
  .navbar-header__none {
    display: block;
  }
  .employee-name {
    display: none;
  }
} */
@media screen and (max-width: 576px){
  /* .navbar {
    padding: 0;
      position: absolute;
  } */
  .navbar-header {
    display: none;
  }
  .navbar-header__none {
    display: block;
    font-weight: bold;
  }
  .employee-name {
    display: none;
  }
  
  .task-description__heading,
  .task-time__heading {
    display: none;
  }
}

/* employee */
/* get_inprogress_task.php */

.navbar-header__none {
  display: none;
}
.employee {
  margin: 10px 15px;
}
.task-search-input {
  width: inherit;
}
.scrollable-task {
  height: 500px;
  overflow-x: auto;
}

.e__task__heading {
  background-color: rgb(131,124,124);
  position: sticky;
  color: rgb(222,215,35);
}
.e__task__infomation {
  background-color: rgb(240,255,255);
}
.e__check-font-style{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.e__condition-style {
  padding: 5px 0px 0 15px;
}
.displayNone {
  display: none;
}
@media screen and (min-width: 992px) and (max-width: 1199px){
  .task-name__heading,
  .task-time__heading {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px){
  .employee-name,
  .task-name__heading,
  .task-time__heading {
    display: none;
  }
  .employee-heading {
    justify-content: space-between;
  }
}	

/* @media screen and (min-width: 576px) and (max-width: 767px){
  .navbar {
    padding: 0;
      position: absolute;
  }
  .navbar-header {
    display: none;
  }
  .navbar-header__none {
    display: block;
  }
  .employee-name {
    display: none;
  }
} */
@media screen and (max-width: 576px){
  /* .navbar {
    padding: 0;
      position: absolute;
  } */
  .navbar-header {
    display: none;
  }
  .navbar-header__none {
    display: block;
    font-weight: bold;
  }
  .employee-name {
    display: none;
  }
  
  .task-description__heading,
  .task-time__heading {
    display: none;
  }
}

/* employee */
/* get_new_task.php */

.navbar-header__none {
  display: none;
}
.employee {
  margin: 10px 15px;
}
.task-search-input {
  width: inherit;
}
.scrollable-task {
  height: 500px;
  overflow-x: auto;
}

.e__task__heading {
  background-color: rgb(131,124,124);
  position: sticky;
  color: rgb(222,215,35);
}
.e__task__infomation {
  background-color: rgb(240,255,255);
}
.e__check-font-style{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.e__condition-style {
  padding: 5px 0px 0 15px;
}
.displayNone {
  display: none;
}
@media screen and (min-width: 992px) and (max-width: 1199px){
  .task-name__heading,
  .task-time__heading {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px){
  .employee-name,
  .task-name__heading,
  .task-time__heading {
    display: none;
  }
  .employee-heading {
    justify-content: space-between;
  }
}	

/* @media screen and (min-width: 576px) and (max-width: 767px){
  .navbar {
    padding: 0;
      position: absolute;
  }
  .navbar-header {
    display: none;
  }
  .navbar-header__none {
    display: block;
  }
  .employee-name {
    display: none;
  }
} */
@media screen and (max-width: 576px){
  /* .navbar {
    padding: 0;
      position: absolute;
  } */
  .navbar-header {
    display: none;
  }
  .navbar-header__none {
    display: block;
    font-weight: bold;
  }
  .employee-name {
    display: none;
  }
  
  .task-description__heading,
  .task-time__heading {
    display: none;
  }
}

/* employee */
/* get_rejected_task.php */

.navbar-header__none {
  display: none;
}
.employee {
  margin: 10px 15px;
}
.task-search-input {
  width: inherit;
}
.scrollable-task {
  height: 500px;
  overflow-x: auto;
}

.e__task__heading {
  background-color: rgb(131,124,124);
  position: sticky;
  color: rgb(222,215,35);
}
.e__task__infomation {
  background-color: rgb(240,255,255);
}
.e__check-font-style{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.e__condition-style {
  padding: 5px 0px 0 15px;
}
.displayNone {
  display: none;
}
@media screen and (min-width: 992px) and (max-width: 1199px){
  .task-name__heading,
  .task-time__heading {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px){
  .employee-name,
  .task-name__heading,
  .task-time__heading {
    display: none;
  }
  .employee-heading {
    justify-content: space-between;
  }
}	

/* @media screen and (min-width: 576px) and (max-width: 767px){
  .navbar {
    padding: 0;
      position: absolute;
  }
  .navbar-header {
    display: none;
  }
  .navbar-header__none {
    display: block;
  }
  .employee-name {
    display: none;
  }
} */
@media screen and (max-width: 576px){
  /* .navbar {
    padding: 0;
      position: absolute;
  } */
  .navbar-header {
    display: none;
  }
  .navbar-header__none {
    display: block;
    font-weight: bold;
  }
  .employee-name {
    display: none;
  }
  
  .task-description__heading,
  .task-time__heading {
    display: none;
  }
}

/* employee */
/* get_waiting_task.php */

.navbar-header__none {
  display: none;
}
.employee {
  margin: 10px 15px;
}
.task-search-input {
  width: inherit;
}
.scrollable-task {
  height: 500px;
  overflow-x: auto;
}

.e__task__heading {
  background-color: rgb(131,124,124);
  position: sticky;
  color: rgb(222,215,35);
}
.e__task__infomation {
  background-color: rgb(240,255,255);
}
.e__check-font-style{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.e__condition-style {
  padding: 5px 0px 0 15px;
}
.displayNone {
  display: none;
}
@media screen and (min-width: 992px) and (max-width: 1199px){
  .task-name__heading,
  .task-time__heading {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px){
  .employee-name,
  .task-name__heading,
  .task-time__heading {
    display: none;
  }
  .employee-heading {
    justify-content: space-between;
  }
}	

/* @media screen and (min-width: 576px) and (max-width: 767px){
  .navbar {
    padding: 0;
      position: absolute;
  }
  .navbar-header {
    display: none;
  }
  .navbar-header__none {
    display: block;
  }
  .employee-name {
    display: none;
  }
} */
@media screen and (max-width: 576px){
  /* .navbar {
    padding: 0;
      position: absolute;
  } */
  .navbar-header {
    display: none;
  }
  .navbar-header__none {
    display: block;
    font-weight: bold;
  }
  .employee-name {
    display: none;
  }
  
  .task-description__heading,
  .task-time__heading {
    display: none;
  }
}

/* employee */
/* sidebar_searchTask.php */

.navbar-header__none {
  display: none;
}
.employee {
  margin: 10px 15px;
}
.task-search-input {
  width: inherit;
}
.scrollable-task {
  height: 500px;
  overflow-x: auto;
}
.e__home-heading {
  display: none;
}
.e__task__heading {
  background-color: rgb(131,124,124);
  position: sticky;
  color: rgb(222,215,35);
}
.e__task__infomation {
  background-color: rgb(240,255,255);
}
.e__check-font-style{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.e__condition-style {
  padding: 5px 0px 0 15px;
}
.displayNone {
  display: none;
}
@media screen and (min-width: 992px) and (max-width: 1199px){
  .task-name__heading,
  .task-time__heading {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px){
  .employee-name,
  .task-name__heading,
  .task-time__heading {
    display: none;
  }
  .employee-heading {
    justify-content: space-between;
  }
}	

@media screen and (min-width: 576px) and (max-width: 767px){
  /* .navbar {
    padding: 0;
      position: absolute;
  } */
  .employee-name {
    display: none;
  }
  /* .e__home-heading {
    display: block;
  }
  .navbar-header {
    display: none;
  }
  .navbar-header__none {
    display: block;
  }
  .employee-name {
    display: none;
  } */
}
@media screen and (max-width: 576px){
  /* .navbar {
    padding: 0;
      position: absolute;
  } */
  .e__home-heading {
    display: block;
  }
  .navbar-header {
    display: none;
  }
  .navbar-header__none {
    display: block;
    font-weight: bold;
  }
  .employee-name {
    display: none;
  }
  
  .task-description__heading,
  .task-time__heading {
    display: none;
  }
}

/* employee */
/* sidebar.php */

.e__check-font-style {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (min-width: 768px) and (max-width: 991px){
  .e__task-name-btn {
    display: none;
  }
  .e__btn-task {
    justify-content: center;
  }
}	
@media screen and (min-width: 576px) and (max-width: 767px){
  .employee-name {
    display: none;
  }
  .e__task-name-btn {
    display: none;
  }
  .e__btn-task {
    justify-content: center;
  }
}
@media screen and (max-width: 576px){
  .e__task-name-btn {
    display: none;
  }
  .e__btn-task {
    justify-content: center;
  }
  .e__btn-task-list {
    padding-left: 5px;
  }
}

/* employee */
/* task_infomation_completed.php */

.task-search-input {
  width: inherit;
}
.scrollable-task {
  height: 500px;
  overflow-x: auto;
}

.e__task__heading {
  background-color: rgb(131,124,124);
  position: sticky;
  color: rgb(222,215,35);
}
.e__task__infomation {
  background-color: rgb(240,255,255);
}
.task-content {
  background-color: rgb(240,255,255);
}
.e__heading-task-none {
  display: none;
}
@media screen and (max-width: 576px){
  .e__heading-task-none {
    display: block;
  }
  .e__heading-task {
    display: none;
  }
}

/* employee */ 
/* task_infomation_inprogress */

.navbar-header__none {
  display: none;
}
.employee {
  margin: 10px 15px;
}
.task-search-input {
  width: inherit;
}
.scrollable-task {
  height: 500px;
  overflow-x: auto;
}

.e__task__heading {
  background-color: rgb(131,124,124);
  position: sticky;
  color: rgb(222,215,35);
}
.task-content {
  background-color: rgb(240,255,255);
}
.e__check-font-style{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.e__condition-style {
  padding: 5px 0px 0 15px;
}
.displayNone {
  display: none;
}
@media screen and (min-width: 992px) and (max-width: 1199px){
  .task-name__heading,
  .task-time__heading {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px){
  .employee-name,
  .task-name__heading,
  .task-time__heading {
    display: none;
  }
  .employee-heading {
    justify-content: space-between;
  }
}	

/* @media screen and (min-width: 576px) and (max-width: 767px){
  .navbar {
    padding: 0;
      position: absolute;
  }
  .navbar-header {
    display: none;
  }
  .navbar-header__none {
    display: block;
  }
  .employee-name {
    display: none;
  }
} */
@media screen and (max-width: 576px){
  /* .navbar {
    padding: 0;
      position: absolute;
  } */
  .navbar-header {
    display: none;
  }
  .navbar-header__none {
    display: block;
    font-weight: bold;
  }
  .employee-name {
    display: none;
  }
  
  .task-description__heading,
  .task-time__heading {
    display: none;
  }
}


/* employee */
/* task_infomation_rejected.php */

.task-search-input {
  width: inherit;
}
.scrollable-task {
  height: 500px;
  overflow-x: auto;
}

.e__task__heading {
  background-color: rgb(131,124,124);
  position: sticky;
  color: rgb(222,215,35);
}
.e__task__infomation {
  background-color: rgb(240,255,255);
}

.task-content {
  background-color: rgb(240,255,255);
}
#tapTin {
  padding: 3px 0 0 0;
}

/* employee */
/* task_infomation_waiting.php */

.task-search-input {
  width: inherit;
}
.scrollable-task {
  height: 500px;
  overflow-x: auto;
}

.e__task__heading {
  background-color: rgb(131,124,124);
  position: sticky;
  color: rgb(222,215,35);
}
.e__task__infomation {
  background-color: rgb(240,255,255);
}
.task-content {
  background-color: rgb(240,255,255);
}

/* employee */
/* task_infomation.php */

.task-search-input {
  width: inherit;
}
.scrollable-task {
  height: 500px;
  overflow-x: auto;
}

.e__task__heading {
  background-color: rgb(131,124,124);
  position: sticky;
  color: rgb(222,215,35);
}
.e__task__infomation {
  background-color: rgb(240,255,255);
}
.task-content {
  background-color: rgb(240,255,255);
}